<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Teste 01</title>
</head>
<body>
    <header style="background-color: #02143d; " class="text-right">
      <div class="Logo"><img src="Img/logo-removebg-preview (3).png"></div>
      <ul class="flex text-2xl flex-row-reverse text-white">
        <li class="px-8 pt-6 mr-8"><button style="background-color: #02143d" class="rounded-full">Contatos</button></li>
        <li class="px-8 pt-6 "><button class="border-white bg-white hover:bg-sky-700 rounded-full text-black hover:text-white px-4 pt-1 mb-4 shadow-xl ">Simulação</button></li>
        <li class="px-8 pt-6"><button style="background-color: #02143d" class="rounded-full">Quem somos</button></li>
        <li class="px-8 pt-6"><button style="background-color: #02143d" class="rounded-full">Inicio</button></li>
      </ul>
    </header>
    <footer>
        <h1 class="text-center text-4xl pt-3 text-purple-900">Real Cred</h1>
    </footer>

</body>
</html>