<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/47c46bdb99.js" crossorigin="anonymous"></script>
    <title>Teste 01</title>
</head>
<body>
    <header style="background-color: #02143d; " class="text-right">
      <div class="Logo"><img src="Img/logo-removebg-preview (3).png"></div>
      <ul class="flex text-2xl flex-row-reverse text-white">
        <li class="px-8 pt-6 mr-8"><button style="background-color: #02143d" class="rounded-full">Contatos</button></li>
        <li class="px-8 pt-6 "><button class="border-white bg-white hover:bg-sky-700 rounded-full text-black hover:text-white ring-2 ring-sky-500 hover:ring-white px-4 pt-1 mb-4 shadow-xl ">Simulação</button></li>
        <li class="px-8 pt-6"><button style="background-color: #02143d" class="rounded-full">Quem somos</button></li>
        <li class="px-8 pt-6"><button style="background-color: #02143d" class="rounded-full">Inicio</button></li>
      </ul>
    </header>
    <main>
        <div>
        <h1 class="text-center text-4xl pt-3 text-purple-900">Real Cred</h1>
        <h3 class="text-center text-sm pt-1">Facilitando seu credito.</h3>
        </div>
        <section class="border-b border-border">
            <div class="flex flex-col justify-center gap-14 max-w-7xl m-auto">
            </div>
        </section>
        <div class="flex flex-col justify-center gap14 max-w-7xl m-auto">
            <h2 class="p-3 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod eveniet at voluptatum asperiores suscipit illum facilis? Nihil expedita tempora reiciendis repudiandae saepe suscipit voluptate vitae! Recusandae nemo facilis velit tempora. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi praesentium maiores ipsum rem! Porro rerum consequatur optio alias reiciendis itaque libero placeat dolor voluptas. Culpa labore atque voluptatum consequatur provident. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum laboriosam obcaecati vel officiis eligendi necessitatibus quas labore repudiandae accusamus ipsum, amet sed dolorem perferendis ipsam nemo ratione. Praesentium, ipsum numquam.</h2>
            <div class="rounded-full bg-green-700 px-4 pt-1 grid ring-2 ring-emerald-500 hover:ring-emerald-300 hover:bg-green-800 text-white uppercase max-w-[250px]">
            <button class="text-xl justify-self-center items-center max-w-7xl"><i class="fa-brands fa-whatsapp "></i><a href="Wa.me/+5586988791545">Faça sua Consulta</a></button>
            </div>
        </div>
        
    </main>

</body>
</html>