<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/47c46bdb99.js" crossorigin="anonymous"></script>
    <title>Teste 01</title>
</head>
<body>
    <header style="background-color: #02143d; " class="text-right">
      <div class="Logo"><img src="Img/logo-removebg-preview (3).png"></div>
      <ul class="flex text-2xl flex-row-reverse text-white">
        <li class="px-8 pt-6 mr-8"><button style="background-color: #02143d">Contatos</button></li>
        <li class="px-8 pt-6 "><button class="border-white bg-white hover:bg-sky-700 rounded-full text-black hover:text-white ring-2 ring-sky-500 hover:ring-white px-4 pt-1 mb-4 shadow-xl ">Simulação</button></li>
        <li class="px-8 pt-6"><button style="background-color: #02143d" class="rounded-full">Quem somos</button></li>
        <li class="px-8 pt-6"><button style="background-color: #02143d" class="rounded-full">Inicio</button></li>
      </ul>
    </header>
    <main>
        <div>
        <h1 class="text-center text-4xl pt-3 text-purple-900">Real Cred</h1>
        <h3 class="text-center text-sm pt-1">Facilitando seu credito.</h3>
        </div>
        <section class="border-b border-border">
            <div class="flex flex-col justify-center gap-14 max-w-7xl m-auto">
            </div>
        </section>
        <div class="flex flex-col justify-center gap14 max-w-7xl m-auto rounded">
            <h2 class="p-3 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod eveniet at voluptatum asperiores suscipit illum facilis? Nihil expedita tempora reiciendis repudiandae saepe suscipit voluptate vitae! Recusandae nemo facilis velit tempora. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi praesentium maiores ipsum rem! Porro rerum consequatur optio alias reiciendis itaque libero placeat dolor voluptas. Culpa labore atque voluptatum consequatur provident. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum laboriosam obcaecati vel officiis eligendi necessitatibus quas labore repudiandae accusamus ipsum, amet sed dolorem perferendis ipsam nemo ratione. Praesentium, ipsum numquam.</h2>
            
        </div>
        <section class="text-center border-b border-border pb-5">
            <div class="justify-center">
                <input type="button" class="rounded-full"><a href="Wa.me/+5586988791545" class="bg-sky-700 text-white rounded-full pt-2 px-5 pb-2 hover:text-black hover:bg-blue-200"> <i class="fa-brands fa-whatsapp "></i> Faça sua consulta</a>
            </div>
        </section>
        <section class="text-center border-b border-border pb-5">
            <div type="Text" class="grid grid-rows-4">
                <div class="">
                <h1 class="text-center text-4xl pt-3 text-purple-900">Para quem é a Real Cred?</h1>
                
                <ul class="px-3 py-3 mx-10 text-left mr-96">
                    <li class="text-xl text-bold px-3 py-3">Pessoas Físicas</li>
                    <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi assumenda perspiciatis nam mollitia, doloremque similique ab cumque facere.</p>
                    <li class="text-xl text-bold px-3 py-3">Empresas</li>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed necessitatibus eius rem reiciendis ducimus, repellat voluptas! </p>
                    <li class="text-xl text-bold px-3 py-3">Pessoas Juridicas</li>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima cupiditate inventore explicabo qui soluta rem eveniet assumenda aliquid.</p>
                </ul>
            </div>
                <div type="text_1" class="text-left pl-20">
                <span class="text-xl"><i class="fa-solid fa-circle-arrow-right px-3 mt-5"></i>PRIMEIROS PASSOS</span>
                <p class="mt-5 text-xl">Para uma consulta precisamos deu alguns dados que serão pedidos a baixo</p>
                    <div class=" px-5 justify-right">
                        <div class="mx-20 text-xl">
                            <label for="nome" class=" rounded-lg ">Nome:</label>
                            <input type="text" id="nome" style="display: block;" class="border-2  border-blue-300"/>
                        </div>
                        <div class="mx-20 text-xl">
                            <label for="email" class=" rounded-lg">E-mail:</label>
                            <input type="email" id="email" style="display: block;" class="border-2  border-blue-300"/>
                        </div>
                        <div class="mx-20 text-xl">
                            <label for="number" class=" rounded-lg">CPF:</label>
                            <input type="text" id="number" style="display: block;" class="border-2  border-blue-300"/>
                        </div>
                        <div class="mx-20 text-xl">
                            <label for="msg" class="">Mensagem:</label>
                            <textarea style="display: block;" class="border-2 border-blue-300 rezise-x rounded-md"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

</body>
</html>